<!DOCTYPE html>

<html lang="en" dir="ltr">

	<head>
		<meta charset="utf-8">
		<title>FEND Capstone - Travel App</title>
	</head>

	<body>
		<div class="cover-container">
			<header>
				<div>
					<h1 >FEND Capstone - Travel App</h1>
				</div>
			</header>
			<section  class="jumbotron  jumbotron-fluid">
				<form class="form container">
						<div class="row">
							<div class="col-sm-12">
								<h5>Search For Your City!</h5>
							</div>
							<div class="col-sm-12 col-md-8 col-lg-9">
								<input id="name" class="form-control" id="inputPassword" placeholder="Seoul" required>
							</div>
							<div class="col-sm-12 col-md-4 col-lg-3">
								<input type="date" class="form-control" id="travel-day" name="travel-day" required>
							</div>
						</div>
						<div class="row  justify-content-end">
							<div class="col-sm-12">
								<button id="submit" class="btn btn-primary btn-block" type="submit">Search</button>
							</div>
						</div>
						<div class="row" id="error">
							<div class="col-sm-12">
								<div class="alert alert-warning" role="alert">
									Sorry we had issues findind your City name.
								  </div>
							  </div>
						</div>
				</form>	
			</section>
		</div>
		<div id="submisson" class="container-fluid">

		</div>

		<footer>
			<p>Designed and Developed by Chris Drew for Udacity</p>
		</footer>
		<script>
			// Check that service workers are supported
			if ('serviceWorker' in navigator) {
				// Use the window load event to keep the page load performant
				window.addEventListener('load', () => {
					navigator.serviceWorker.register('/service-worker.js');
				});
			}
		   </script>
	</body>
</html>