
@import "~bootstrap/scss/bootstrap";


h5{
	text-align: center;
}

.jumbotron{
	background-color: #f4a261;
	background-image: url('https://cdn.pixabay.com/photo/2017/11/08/08/07/gyeongbok-palace-2929520_960_720.jpg');

	h5{
		font-size: 1.5em;
	}
}

.row > div{
	padding-top: 12px;
}

header{
	text-align: center;
}

.result-text{
	color: #e76f51;
}

.weather{
	margin-left: 10px;
	margin-right: 10px;
	display: flex;
	flex-wrap: wrap;
	
	@media screen and (max-width: 600px) {
		flex-direction: column;
	}

	li{
		border: solid 1px black;
		list-style-type: none;
		color:#333;
		flex-grow: 1;
		flex: 1 1 0px;
	
	  
		&:not(:last-child) { 
			border-right: 0;
		}
	  
		@media screen and (max-width: 600px) {
			&:not(:last-child) { 
				border-right: solid 1px black;
			}  
		}

		.weather-date,
		img,
		.weather-temp,
		.weather-des{
			padding: 5px;
			margin: 0;
			text-align: center
		}

		img{
			width:80px;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
	  
		.weather-date{
			border-bottom: solid 1px black;
		}

		.weather-des{
			border-top: solid 1px black;
			font-size: 0.8em;
		}

		.weather-temp{
			font-weight: bold;
		}
	}
}  
  

footer{
	p{
		border-top: 1px solid black;
		padding: 10px;
		margin-top: 10px;
		text-align: center;
	}
}

#error{
	display: none;
}