// body {
//     display: flex;
//     flex-direction: column;
// 	min-height: 100vh;
// }

// main {
//     flex: 2;
// }

// section {
//     max-width: 800px;
//     margin: 50px auto;
// }

.weather-card{
	text-align: center;

	img{
		width: inherit;
	}

	.weather-temp{
		font-weight: bold;
	}

	.weather-des{
		font-size: 0.8em;
	}
}